<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvTools" version="1.0.8" targetFramework="net40" />
  <package id="CsvTools.Excel" version="1.0.2" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="LinqToCsv" version="1.2.0.0" targetFramework="net40" />
  <package id="MathNet.Numerics" version="2.4.0" targetFramework="net40" />
</packages>