<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="workingdir" value="D:/Repos/VS2010/portfolioengine-dev/Data"/>
    <add key="workspace" value=".RData"/>
    <add key="DataSetName" value="JSE_EquityReturns"/>
  </appSettings>
  
</configuration>
